
name: Windows 10 RDP

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 360

    steps:
      - name: Download ngrok v3
        run: |
          Invoke-WebRequest https://bin.equinox.io/c/bNyj1mQVY4c/ngrok-v3-stable-windows-amd64.zip -OutFile ngrok.zip

      - name: Extract ngrok
        run: |
          Expand-Archive ngrok.zip -DestinationPath ngrok

      - name: Auth ngrok
        run: |
          .\ngrok\ngrok.exe config add-authtoken 2gzCXiehyX6Dvdjyam6CeA3P7wN_4ZRSp9hHWtNdUrEMfW7A5

      - name: Enable RDP
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0

      - name: Allow RDP Firewall
        run: |
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"

      - name: Enable NLA
        run: |
          Set-ItemProperty `
            -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' `
            -Name "UserAuthentication" -Value 1

      - name: Set runneradmin password
        run: |
          Set-LocalUser -Name "runneradmin" `
            -Password (ConvertTo-SecureString "@cyb3rking" -AsPlainText -Force)

      - name: Start ngrok TCP and print RDP address
        run: |
          Write-Host "======================================="
          Write-Host "   NGROK RDP ADDRESS (TCP 3389)"
          Write-Host "======================================="

          .\ngrok\ngrok.exe tcp 3389 --log stdout |
          Select-String "tcp://"
